@charset "UTF-8";
* {
  word-wrap: break-word;
}

html, body, h1, h2, h3, h4, h5, h6, hr, p, iframe, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td, fieldset {
  margin: 0;
  padding: 0;
}

ul, ol, dl {
  list-style-type: none;
}

html, body {
  *position: static;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 400;
}

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

input, button {
  overflow: visible;
  vertical-align: middle;
  outline: none;
}

body, th, td, button, input, select, textarea {
  font-family: "Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53";
  font-size: 14px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.42857143;
  background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

a, area {
  outline: none;
  blr: expression(this.onFocus=this.blur());
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

a:hover {
  text-decoration: none;
  outline: none;
}

a.ie6:hover {
  zoom: 1;
}

a:focus {
  outline: none;
}

a:hover, a:active {
  outline: none;
}

:focus {
  outline: none;
}

sub, sup {
  vertical-align: baseline;
}

button, input[type="button"], input[type="submit"] {
  line-height: normal !important;
}

/*img*/
img {
  border: 0;
  vertical-align: middle;
}

a img, img {
  -ms-interpolation-mode: bicubic;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

/*HTML5 reset*/
header, footer, section, aside, details, menu, article, section, nav, address, hgroup, figure, figcaption, legend {
  display: block;
  margin: 0;
  padding: 0;
}

time {
  display: inline;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

legend {
  width: 100%;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

legend small {
  font-size: 15px;
  color: #999;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border-width: 0;
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.cl:after, .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.cl, .clearfix {
  zoom: 1;
}

.container {
  width: 1000px;
  margin: auto;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.margin-left10 {
  margin-left: 10px;
}

.margin-right10 {
  margin-right: 10px;
}

.w680 {
  width: 680px;
}

.w310 {
  width: 310px;
  margin-left: 10px;
}

.w660 {
  width: 660px;
}

.w300 {
  width: 300px;
  margin-left: 40px;
}

.w750 {
  width: 750px;
}

.w240 {
  width: 240px;
}

.w500 {
  width: 500px;
}

.w340 {
  width: 340px;
}

.a-btn {
  display: inline-block;
  background-color: #009ffa;
  color: #fff;
  width: 160px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.page {
  display: table;
  margin: 20px auto;
}
.page li {
  float: left;
  padding: 5px 8px;
  margin: 0 3px;
}
.page li.active {
  background-color: #999;
  border-radius: 6px;
}
.page li.active a {
  color: #fff;
}

.panel {
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
.panel .panel-head {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}
.panel .panel-body {
  padding: 10px 20px;
}
.panel .info p {
  margin-bottom: 10px;
}
.panel .info .star span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  background-color: #f9671e;
  margin-right: 10px;
}
.panel .info .star span i {
  color: #fff;
}
.panel .info .attestation span {
  margin-right: 10px;
}
.panel .info .attestation span i {
  color: #fc6303;
  margin-right: 5px;
}
.panel .info .blank {
  padding: 0 6px;
}
.panel .info .info-btn {
  display: block;
  width: 160px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  background-color: #1ca7f4;
  color: #fff;
}
.panel .info .info-btned {
  margin-top: 10px;
}
.panel .info .favorite {
  margin-top: 25px;
}
.panel .info .favorite i {
  margin-right: 5px;
}
.panel .groom li {
  position: relative;
  margin-bottom: 10px;
}
.panel .groom li:last-child {
  margin-bottom: 0;
}
.panel .groom li .g-img {
  position: absolute;
  height: 50px;
  width: 50px;
  left: 0;
  top: 0;
}
.panel .groom li .g-img img {
  height: 50px;
  width: 50px;
}
.panel .groom li .g-con {
  height: 50px;
  overflow: hidden;
  padding-left: 60px;
}
.panel .groom li .g-con h2 {
  margin-bottom: 10px;
}
.panel .groom li .g-con p {
  font-size: 12px;
  color: #ff2828;
}

.share {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  opacity: 0.4;
  background-color: #000;
  display: none;
  z-index: 999;
}

/*函数*/
/*头部*/
.top-site-wrap {
  height: 35px;
  background-color: #f7f7f7;
  min-width: 1000px;
}
.top-site-wrap .float-l .set-loginInfo {
  line-height: 35px;
}
.top-site-wrap a {
  font-size: 14px;
}

.set-loginInfo a {
  margin: 0 10px;
}
.set-loginInfo a.cur {
  color: #fc6303;
}

.set-menu-r {
  height: 35px;
}
.set-menu-r li {
  float: left;
  height: 35px;
}
.set-menu-r li .menu-hd {
  display: block;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  position: relative;
}
.set-menu-r li span {
  float: left;
  font-size: 100%;
}
.set-menu-r li .h-ico {
  background: transparent url("../images/icons.png") no-repeat scroll 0 0;
  height: 13px;
  margin-right: 5px;
  margin-top: 11px;
  position: relative;
  transition: all 0.2s ease 0s;
  width: 14px;
}
.set-menu-r li a {
  float: left;
  line-height: 35px;
}
.set-menu-r li a:hover {
  color: #fc6303;
}
.set-menu-r .user a:hover .h-ico {
  background-position: 0 -15px;
}
.set-menu-r .info .h-ico {
  margin-top: 12px;
  background-position: 0 -28px;
}
.set-menu-r .info a:hover .h-ico {
  background-position: 0 -42px;
}
.set-menu-r .service .h-ico {
  margin-top: 12px;
  background-position: 0 -56px;
}
.set-menu-r .service a:hover .h-ico {
  background-position: 0 -70px;
}
.set-menu-r .phone .h-ico {
  margin-top: 13px;
  background-position: 0 -84px;
}
.set-menu-r .phone a:hover .h-ico {
  background-position: 0 -96px;
}
.set-menu-r .gps .h-ico {
  margin-top: 12px;
  background-position: 0 -108px;
}
.set-menu-r .gps a:hover .h-ico {
  background-position: 0 -121px;
}

.header {
  padding-top: 26px;
}
.header .logo {
  float: left;
  height: 22px;
  margin-top: 8px;
  width: 195px;
}
.header .search-center {
  margin-left: 260px;
  width: 528px;
}

.search-center .search-bd {
  height: 40px;
  width: 100%;
}
.search-center .search-bd .bd-input {
  border: 1px solid #fc6303;
  float: left;
  height: 38px;
  width: 438px;
}
.search-center .search-bd .bd-input .bd-input-select {
  float: left;
  height: 38px;
  width: 108px;
}
.search-center .search-bd .bd-input .bd-select-hd {
  cursor: pointer;
  float: left;
  font-size: 14px;
  line-height: 38px;
  padding: 0 8px 0 12px;
}
.search-center .search-bd .bd-input .bd-select-hd span {
  float: left;
}
.search-center .search-bd .bd-input .bd-select-hd .select-txt {
  margin-right: 8px;
}
.search-center .search-bd .bd-input .bd-select-hd .down-ico {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #9a9a9a;
  margin-top: 16px;
}
.search-center .search-bd .bd-input .bd-input-bd {
  float: left;
  height: 100%;
  overflow: hidden;
  width: 330px;
}
.search-center .search-bd .bd-input .bd-input-bd .search-ipt {
  border: medium none;
  color: #555;
  float: left;
  font-size: 14px;
  height: 36px;
  line-height: 38px;
  width: 100%;
}
.search-center .search-bd .bd-btn {
  background: #fc6303 none repeat scroll 0 0;
  float: left;
  height: 40px;
  width: 88px;
}
.search-center .search-bd .bd-btn a {
  color: #fff;
  display: block;
  font-size: 18px;
  height: 100%;
  line-height: 40px;
  text-align: center;
  width: 100%;
}
.search-center .search-nav {
  height: 16px;
  padding: 8px 0 0;
}
.search-center .search-nav li {
  color: #555;
  float: left;
  font-size: 14px;
  margin-right: 8px;
}
.search-center .search-nav li a {
  color: #555;
}
.search-center .search-nav li.cur a, .search-center .search-nav li a:hover {
  color: #fc6303;
}

.nav-center {
  padding-top: 28px;
  position: relative;
  z-index: 1;
}
.nav-center .nav-hd {
  height: 48px;
  margin-left: 180px;
  border-bottom: 1px solid #ddd;
}
.nav-center .nav-hd li {
  float: left;
  font-size: 16px;
  line-height: 48px;
}
.nav-center .nav-hd li a {
  float: left;
  padding: 0 45px;
  position: relative;
}
.nav-center .nav-hd li a:hover {
  color: #fc6303;
}
.nav-center .nav-hd li .ico {
  background: transparent url("../images/icon-hot.png") no-repeat scroll 0 0;
  height: 20px;
  margin-left: 5px;
  position: absolute;
  width: 64px;
}
.nav-center .nav-hd li .hot {
  background-position: 0 -21px;
}

.J_slide_nav {
  position: relative;
  z-index: 2;
}
.J_slide_nav .silde-nav {
  background-color: #f9671e;
  left: 0;
  position: absolute;
  top: -48px;
  width: 180px;
}
.J_slide_nav .s-nav-hd {
  height: 48px;
  width: 100%;
}
.J_slide_nav .s-nav-hd span {
  background: transparent url("../images/icon-list.png") no-repeat scroll 0 0;
  float: left;
  height: 12px;
  margin-left: 24px;
  margin-top: 18px;
  width: 16px;
}
.J_slide_nav .s-nav-hd h2 {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  line-height: 48px;
  margin-left: 50px;
}

/*头部*/
/*尾部*/
.footer {
  margin-top: 100px;
  background: transparent url("../images/copyright-bg.png") repeat scroll 0 0;
  color: #fff;
  min-width: 1000px;
}
.footer .container {
  padding: 20px 0;
  color: #ccc;
}
.footer .nav {
  float: right;
}
.footer .nav li {
  float: left;
  padding: 0 20px;
  border-right: 1px solid #fff;
}
.footer .nav li:last-child {
  border-right: 0;
}
.footer .nav li a {
  color: #fff;
}

.show {
  display: block !important;
}

.hide {
  display: none;
}

/*尾部*/
