@charset "utf-8";
@import "variable";
/*公共样式*/
.w120{
  width: 120px;
}
.w860{
  width: 860px;
}
.user{
  .user-top-menu{
    margin: 20px 0;
    border: 1px solid #ddd;
    li{
      float: left;
      padding: 15px 25px;
      i{
        margin-right: 5px;
      }
      &.active{
        background-color: #e6e6e6;
      }
    }
  }
}
.user-con .l-menu{
  border: 1px solid #ddd;
  li{
    padding: 15px 0;
    text-align: center;
    &.active{
      a{
        color: #f9671e;
      }

    }
  }
}
.user-con .r .r-title{
  font-size: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}
.r .r-title .t-sub{
  font-size: 14px;
  font-weight: 300;
  padding-top: 12px;
  a{
    margin-right: 10px;
  }
}
.r .r-title .r-p{
  font-size: 14px;
  font-weight: 300;
  margin-top: 15px;
  span{
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
    select{
      @include input-text(28px,118px);
    }
  }
  .btn-span{
    float: right;
    a{
      @include btn();
    }
  }
}
/*公共样式*/

/*绑定银行卡列表*/
.cardlist{
  .table{
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
    .head{
      td{
        height: 30px;
        background-color: #f0f0f0;
      }
    }
    td{
      border: 1px solid #ddd;
      text-align: center;
      padding: 5px;
      height: 60px;
    }
  }
}
/*绑定银行卡列表*/

/*充值*/
.recharge{
  margin-top: 20px;
  padding-left: 20px;
  .sub-title{
    font-size: 16px;
    margin-bottom: 20px;
  }
  .recharge-ul{
    li{
      float: left;
      width: 156px;
      height: 80px;
      border: 1px solid #ddd;
      background-color: #fff;
      text-align: center;
      line-height: 80px;
      margin-right: 20px;
      i{
        color: #ddd;
        font-size: 20px;
      }
      img{
        width: 88px;
        height: 48px;
        margin-left: 10px;
      }
      &.active{
        i{
          color: #fc6303;
        }
      }
    }
  }
  .btn{
    @include btn();
    margin-top: 20px;
  }
}
/*充值*/

/*收支明细*/
.budget {
  .table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
    .head {
      td {
        height: 30px;
        background-color: #f0f0f0;
      }
    }
    td {
      border: 1px solid #ddd;
      text-align: center;
      padding: 5px;
      height: 60px;
      &:nth-of-type(1){
        width: 140px;
      }
      &:nth-of-type(2){
        width: 130px;
      }
      &:nth-of-type(3){
        width: 180px;
      }
      &:nth-of-type(4){
        width: 200px;
      }
      &:nth-of-type(5){
        width: 120px;
      }
      &:nth-of-type(6){
        width: 80px;
      }
      a{
        text-decoration: underline;
      }
    }
  }
}
/*收支明细*/

/*提现*/
.withdraw{
  margin-top: 20px;
  padding-left: 20px;
  .name{
    display: inline-block;
    width: 60px;
    text-align: right;
    padding-right: 5px;
  }
  .w-list{
    margin-bottom: 20px;
    height: 35px;
    line-height: 35px;
    .w-text{
      @include input-text(33px,198px);
    }
    .explain{
      color: #999;
    }
    .explained{
      color: #1ca7f4;
    }
    .btn{
      @include btn();
      margin-left: 70px;
    }
  }
}
/*提现*/

/*账户总览*/
.overview{
  .over-list{
    margin-top: 20px;
    .o-l{
      padding-left: 20px;
    }
    .info{
      span{
        margin-right: 30px;
        b{
          font-weight: 300;
          color: #fc6303;
        }
      }
    }
    .btn-list{
      margin-top: 15px;
      .btn{
        @include btn();
      }
      .yellow{
        background-color: #fc6303;
      }
    }
    .over-ul{
      border-bottom: 1px solid #ddd;
      li{
        float: left;
        padding: 10px 20px;
        &.active{
          a{
            color: #fc6303;
          }
        }
      }
    }
  }
}
/*账户总览*/