@charset "utf-8";
/*企业注册*/
.register{
  margin-top: 25px;
  min-height: 400px;
  .re-title{
    padding-left: 36px;
    font-size: 24px;
    font-weight: 500;
  }
  .type{
    padding: 20px 0;
    text-align: center;
    line-height: 28px;
    .line{
      display: inline-block;
      height: 1px;
      width: 60px;
      margin: 0 2px;
      vertical-align: middle;
      background-color: #fc6303;
    }
    a{
      font-size: 14px;
      &.active{
        color: #fc6303;
      }
    }
  }
  .form-list{
    margin-bottom: 20px;
    font-size: 14px;
  }
  .form-one{
    padding-bottom: 20px;
    border-bottom: 1px dashed #ddd;
  }
  .form-two{
    padding-top: 20px;
    .fservice{
      float: left;
    }
  }
  .con{
    display: none;
    &.active{
      display: block;
    }
  }
}
.form-list{
  .float-led{
    margin-left: 30px;
  }
  .form-text{
    border: 1px solid #ddd;
    height: 34px;
    padding-left: 3px;
    width: 136px;
    border-radius: 5px;
  }
  .textarea{
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    padding: 3px;
    width: 456px;
    height: 100px;
  }
  .float-l{
    .form-text{
      width: 300px;
    }
    .form-textShort{
      width:180px;
    }
  }
  .name{
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 8px;
    height: 34px;
    line-height: 34px;
    b{
      color: #fc6303;
    }
  }
  .nameed{
    float: left;
  }
  .namejj{
    vertical-align: top;
  }
  .explain{
    padding-left: 105px;
    margin-top: 8px;
    a{
      color: #1ca7f4;
      text-decoration: underline;
    }
  }
  .form-select{
    border: 1px solid #ddd;
    height: 34px;
    text-align: center;
    width: 200px;
    border-radius: 5px;
  }
  .form-selectShort{
    width: 110px;
  }
  .form-textlen{
    width: 740px;
  }
  .form-textShort{
    width:140px;
  }
  .form-textIn{
    width:240px;
  }
  .form-btn{
    background-color: #1ca7f4;
    color: #fff;
    width: 160px;
    height: 36px;
    line-height: 36px;
    margin-left: 108px;
    border: 0;
  }
}
.form-two{
  .fservice{
    position: relative;
    .tag{
      position: absolute;
      left: 3px;
      top: 3px;
      span{
        display: inline-block;
        padding: 0 5px;
        background-color: #f0f0f0;
        line-height: 30px;
        margin-right: 5px;
        b{
          margin-left: 5px;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}
.fservice{
  .selectTag{
    margin-top: 20px;
    .selectTag-list{
      margin-bottom: 20px;
    }
  }
}
.owner{
  .form-text{
    margin-right: 9px;
    &:last-child{
      margin-right: 0;
    }
  }
  .owner-explain{
     padding-left: 105px;
    margin-top: 10px;
    color: #fc6303;
  }
}
.brandul{
  li{
    width: 100px;
    float: left;
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
    img{
      display: block;
      width: 100px;
      height: 100px;
    }
    .brand-text{
      width: 100px;
      border: 1px solid #ddd;
      height: 34px;
      margin-top: 10px;
      text-align: center;
    }
    &.last-li{
      text-align: center;
      background-color: #e6e6e6;
      position: relative;
      font-size: 100px;
      color: #fff;
      height: 100px;
      line-height: 80px;
      .brand-file{
        position: absolute;
        height: 100px;
        width: 100px;
        opacity: 0;
        top: 0;
        left: 0;
      }
    }
  }
}
.form-listArea{
  .form-select{
    width: 130px;
  }
  .form-textIn{
    width: 335px;
  }
}
.nservice{
  float: left;
  position: relative;
  .tag {
    left: 3px;
    position: absolute;
    top: 3px;
    span {
      background-color: #f0f0f0;
      display: inline-block;
      line-height: 30px;
      margin-right: 5px;
      padding: 0 5px;
    }
  }
  .nserviceText{
    float: left;
    margin-right: 10px;
  }
  .selectTag{
    float: left;
  }
}
.form-list{
  .nserviceText{
    .form-text{
       width: 330px;
    }
  }
}
/*企业注册*/

/*找回密码*/
.forgetpsw{
  margin-top: 20px;
  .form-list{
    .form-code{
      margin-left: 10px;
      width: 100px;
    }
  }
}
.register{
  .success{
    color: #fc6303;
    font-size: 30px;
    margin-left: 36px;
    margin-top: 40px;
    img{
      margin-right: 10px;
    }
  }
}
/*找回密码*/

/*注册成功跳转*/
.skip{
  padding: 60px;
  .td{
    float: left;
  }
  .skip-right{
    margin-left: 15px;
    font-size: 14px;
    h2{
      margin-bottom: 25px;
      font-weight: 500;
    }
  }
  .explain{
    span{
      color: #fc6303;
      margin-right: 15px;
    }
  }
  .skipul{
    margin-top: 15px;
    li{
      float: left;
      width: 160px;
      text-align: center;
      height: 32px;
      border: 1px solid #ccc;
      line-height: 32px;
      background-color: #e5e5e5;
      margin-right: 10px;
      a{
        display: block;
      }
    }
  }
}
/*注册成功跳转*/