@charset "utf-8";
/*企业注册*/
.register{
  margin-top: 25px;
  min-height: 400px;
  .re-title{
    padding-left: 36px;
    font-size: 24px;
    font-weight: 500;
  }
  .re-titled{
    margin-bottom: 40px;
  }
  .type{
    padding: 20px 0;
    text-align: center;
    line-height: 28px;
    .line{
      display: inline-block;
      height: 1px;
      width: 60px;
      margin: 0 2px;
      vertical-align: middle;
      background-color: #fc6303;
    }
    a{
      font-size: 14px;
      &.active{
        color: #fc6303;
      }
    }
  }
  .form-list{
    margin-bottom: 20px;
    font-size: 14px;
  }
  .form-one{
    padding-bottom: 20px;
    border-bottom: 1px dashed #ddd;
  }
  .form-two{
    padding-top: 20px;
    .fservice{
      float: left;
    }
  }
  .con{
    display: none;
    &.active{
      display: block;
    }
  }
}
.form-list{
  .float-led{
    margin-left: 30px;
  }
  .form-text{
    border: 1px solid #ddd;
    height: 34px;
    padding-left: 8px;
    width: 136px;
    border-radius: 5px;
  }
  .textarea{
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    padding: 3px;
    width: 456px;
    height: 100px;
  }
  .float-l{
    .form-text{
      width: 300px;
    }
    .form-textShort{
      width:180px;
    }
  }
  .name{
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 8px;
    height: 34px;
    line-height: 34px;
    b{
      color: #fc6303;
    }
  }
  .nameed{
    float: left;
  }
  .namejj{
    vertical-align: top;
  }
  .explain{
    padding-left: 105px;
    margin-top: 8px;
    a{
      color: #1ca7f4;
      text-decoration: underline;
    }
  }
  .form-select{
    border: 1px solid #ddd;
    height: 34px;
    text-align: center;
    width: 200px;
    border-radius: 5px;
  }
  .form-selectShort{
    width: 110px;
  }
  .form-textlen{
    width: 740px;
  }
  .form-textShort{
    width:140px;
  }
  .form-textIn{
    width:240px;
  }
  .form-btn{
    background-color: #1ca7f4;
    color: #fff;
    width: 160px;
    height: 36px;
    line-height: 36px;
    margin-left: 108px;
    border: 0;
  }
}
.form-two{
  .fservice{
    position: relative;
    .tag{
      position: absolute;
      left: 3px;
      top: 3px;
      span{
        display: inline-block;
        padding: 0 5px;
        background-color: #f0f0f0;
        line-height: 30px;
        margin-right: 5px;
        b{
          margin-left: 5px;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}
.fservice{
  .selectTag{
    margin-top: 20px;
    .selectTag-list{
      margin-bottom: 20px;
    }
  }
}
.owner{
  .name,.owner-text{
    display: table-cell;
  }
  .form-text{
    margin-right: 10px;
    margin-bottom: 10px;
    &:nth-of-type(5n){
      margin-right: 0;
    }
  }
  .owner-explain{
     padding-left: 105px;
    margin-top: 10px;
    color: #fc6303;
    span{
      color: #999;
      margin-left: 20px;
    }
  }
}
.brandul{
  li{
    width: 100px;
    float: left;
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
    img{
      display: block;
      width: 100px;
      height: 100px;
    }
    .brand-text{
      width: 100px;
      border: 1px solid #ddd;
      height: 34px;
      margin-top: 10px;
      text-align: center;
    }
    &.last-li{
      text-align: center;
      background-color: #e6e6e6;
      position: relative;
      font-size: 100px;
      color: #fff;
      height: 100px;
      line-height: 80px;
      .brand-file{
        position: absolute;
        height: 100px;
        width: 100px;
        opacity: 0;
        top: 0;
        left: 0;
      }
    }
  }
}
.form-listArea{
  .form-select{
    width: 130px;
  }
  .form-textIn{
    width: 335px;
  }
}
.nservice{
  float: left;
  position: relative;
  .tag {
    left: 3px;
    position: absolute;
    top: 3px;
    span {
      background-color: #f0f0f0;
      display: inline-block;
      line-height: 30px;
      margin-right: 5px;
      padding: 0 5px;
    }
  }
  .nserviceText{
    float: left;
    margin-right: 10px;
  }
  .selectTag{
    float: left;
  }
}
.form-list{
  .nserviceText{
    .form-text{
       width: 330px;
    }
  }
}
/*企业注册*/

/*找回密码*/
.forgetpsw{
  margin-top: 20px;
  .form-list{
    .form-code{
      margin-left: 10px;
      width: 100px;
    }
  }
}
.register{
  .success{
    color: #fc6303;
    font-size: 30px;
    margin-left: 36px;
    margin-top: 40px;
    img{
      margin-right: 10px;
    }
  }
}
/*找回密码*/

/*注册成功跳转*/
.skip{
  padding: 60px;
  min-height: 300px;
  .td{
    float: left;
  }
  .skip-right{
    margin-left: 15px;
    font-size: 14px;
    h2{
      margin-bottom: 25px;
      font-weight: 500;
    }
  }
  .explain{
    span{
      color: #fc6303;
      margin-right: 15px;
    }
  }
  .skipul{
    margin-top: 15px;
    li{
      float: left;
      width: 160px;
      text-align: center;
      height: 32px;
      border: 1px solid #999;
      line-height: 32px;
      background-color: #e5e5e5;
      margin-right: 10px;
      a{
        display: block;
      }
    }
  }
}
/*注册成功跳转*/

/*登录*/
.login{
  margin-top: 20px;
  .logincon{
    width: 500px;
    float: left;
    &:first-child{
      width: 499px;
      border-right: 1px solid #ddd;
    }
    .form-code{
      margin-left: 10px;
      border: 0;
      width: 95px;
      text-align: center;
      line-height: 34px;
      height: 34px;
      background-color: #999;
      color: #fff;
    }
    .form-hqcode{
      margin-left: 10px;
      border: 0;
      width: 95px;
      text-align: center;
      line-height: 34px;
      height: 34px;
      background-color: #1ca7f4;
      color: #fff;
    }
    .forgetpsw-a{
      margin-left: 25px;
    }
    .re-btn{
      display: block;
      width: 360px;
      height: 55px;
      border: 1px solid #000;
      border-radius: 50px;
      text-align: center;
      line-height: 55px;
      font-size: 30px;
      margin: auto;
    }
    .re-img{
      width: 280px;
      margin: 30px auto 0;
      .float-l{
        width:100px;
        text-align: center;
        p{
          margin-bottom: 8px;
        }
        &:first-child{
          margin-right: 70px;
        }
      }
    }
  }
}
/*登录*/

/*支付*/
.pay{
  margin-top: 20px;
  .payUl{
    border: 1px solid #ddd;
    li{
      float: left;
      height: 45px;
      line-height: 45px;
      width: 110.88px;
      text-align: center;
      &.active{
        background-color: #e6e6e6;
      }
      a{
        display: block;
      }
      i{
        margin-right: 8px;
      }
    }
  }
  .payCon{
    margin-top: 20px;
    .pay-title{
      padding: 15px;
      font-size: 24px;
      border-bottom: 1px solid #ddd;
    }
    .pay-head{
      width: 722px;
      margin: 20px auto 30px;
      font-size: 0;
    }
  }
  .pay-success{
    margin-top: 20px;
    margin-left: 30px;
    color: #fc6303;
    font-size: 18px;
    font-weight: 600;
    img{
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  }
}
.payCon .pay-head span{
  display: inline-block;
  font-size: 14px;
  &.name{
    width: 120px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border: 1px solid #ddd;
    &.active{
      color: #fc6303;
      border: 1px solid #fc6303;
    }
  }
  &.line{
    height: 1px;
    width: 63px;
    margin: -10px 7.5px 0;
    background-color: #ddd;
    line-height: 45px;
    vertical-align: middle;
  }
}
.payCon{
  .pay-info{
    padding-left: 35px;
    .money{
      font-size: 14px;
      span{
        color: #fc6303;
        font-weight: 600;
      }
    }
    .terrace{
      margin-top: 30px;
      .t-title{
        border-left: 2px solid #fc6303;
        padding-left: 10px;
      }
    }
  }
  .pay-btn{
    display: block;
    margin: 20px auto;
    width: 160px;
    height: 35px;
    line-height: 35px;
    background-color: #1ca7f4;
    color: #fff;
    text-align: center;
  }
}
.terraceUl{
  padding: 20px;
  li{
    float: left;
    text-align: center;
    margin-right: 30px;
    &:last-child{
      margin-right: 0;
    }
    .pay-card{
      width: 120px;
      height: 77px;
      border: 1px solid #ddd;
      display: block;
      margin-bottom: 10px;
    }
    i{
      font-size: 16px;
      color: #ccc;
    }
    &.active{
      i{
        color: #fc6303;
      }
    }
  }
}
/*支付*/

/*购买订单*/
.pay-buy{
  padding: 20px;
  .buy-title{
    border-left: 2px solid #fc6303;
    padding-left: 10px;
    font-weight: 600;
  }
  .addressList{
    padding: 30px 25px;
    li{
      position: relative;
    }
    li.active{
      font-weight: 600;
      .case{
        border: 1px solid #fc6303;
      }
      i{
        color: #fc6303;
      }
    }
   .case{
     padding: 5px;
     width: 780px;
   }
    .amend{
      position: absolute;
      right: 40px;
      top: 5px;
      color: #999;
      border-bottom: 1px solid #999;
    }
    .edit{
      .case{
        border: 1px solid #ccc;
        padding-left: 15px;
      }
    }
    .add{
      .add-text{
        width: 780px;
        height: 35px;
        border: 1px solid #ddd;
        padding-left: 15px;
      }
    }
    .no{
      line-height: 80px;
      color: #999;
      a{
        margin-left: 20px;
        text-decoration: underline;
        color: #999;
      }
    }
    .last-li{
      padding-left: 10px;
      margin-top: 10px;
      a{
        display: block;
        width: 160px;
        text-align: center;
        height: 35px;
        line-height: 35px;
        background-color: #009ffa;
        color: #fff;
      }
    }
  }
}
.payBuy-two .buy-type{
  padding: 10px;
}
.buy-table > .tr > div{
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #ddd;
  text-align: center;
  padding: 10px 0;
  &:nth-of-type(1){
    width: 120px;
  }
  &:nth-of-type(2){
    width: 188px;
  }
  &:nth-of-type(3){
    width: 222px;
  }
  &:nth-of-type(4){
    width: 100px;
  }
  &:nth-of-type(5){
    width: 120px;
  }
  &:nth-of-type(6),&:nth-of-type(7){
    width: 100px;
  }
  .td-img{
    width: 100px;
    height: 100px;
  }
  .td-text{
    width: 60px;
    border: 1px solid #ddd;
  }
}
.buy-table > .trhead > div{
  height: 16px;
}
.buy-explain{
  margin-top: 20px;
  .explain-list{
    margin-bottom: 20px;
    position: relative;
    .ex-textarea{
      width: 410px;
      height: 80px;
      padding: 5px;
      border: 1px solid #ddd;
      resize: none;
      border-radius: 6px;
    }
    .way{
      position: absolute;
      right: 0;
      top: 0;
      select{
        border: 1px solid #ddd;
        width: 100px;
        height: 30px;
        text-align: center;
        margin-left: 10px;
      }
    }
    .ex-text{
      width: 280px;
      height: 35px;
      border: 1px solid #ddd;
      border-radius: 6px;
      margin-right: 10px;
    }
    .ex-a{
      position: relative;
      width: 130px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      display: inline-block;
      background-color: #999;
      color: #fff;
      border-radius: 6px;
      .ex-file{
        position: absolute;
        width: 120px;
        height: 35px;
        opacity: 0;
        top: 0;
        left: 0;
      }
    }
    .format{
      color: #999;
      margin-top: 10px;
      line-height: 20px;
    }
  }
}
.payBuy-two .buy-address{
  background-color: #f0f0f0;
  padding: 15px;
  margin-top: 50px;
  position: relative;
  p{
    font-size: 14px;
    line-height: 20px;
  }
  .total{
    position: absolute;
    right: 15px;
    top: 20px;
    font-size: 20px;
    b{
      color: #fc6303;
    }
  }
}
.payBuy-two .buy-btn{
  display: block;
  background-color: #1ca7f4;
  width: 160px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  margin: 30px auto 0;
}
/*购买订单*/

/*选择注册类型*/
.registerKind{
  padding-top: 40px;
  min-height: 400px;
}
.registerKind .float-l{
  margin-left: 80px;
}
.registerKind .float-r{
  margin-right: 80px;
}
.registerKind .kind-title{
  font-size: 16px;
  padding-bottom: 20px;
}
.registerKind .kind-text{
  width: 350px;
  font-size: 14px;
  line-height: 20px;
}
.registerKind p{
  margin-top: 20px;
}
.registerKind .kind-btn{
  width: 150px;
  height: 32px;
  background-color: #1CA7F4;
  display: inline-block;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
}
/*选择注册类型*/