@charset "utf-8";
@import "variable";
/*公共样式*/
.w120{
  width: 120px;
}
.w860{
  width: 860px;
}
.user{
  .user-top-menu{
    margin: 20px 0;
    border: 1px solid #ddd;
    li{
      float: left;
      padding: 15px 25px;
      i{
        margin-right: 5px;
      }
      &.active{
        background-color: #e6e6e6;
      }
    }
  }
}
.user-con .l-menu{
  border: 1px solid #ddd;
  li{
    padding: 15px 0;
    text-align: center;
    &.active{
      a{
        color: #f9671e;
      }

    }
  }
}
.user-con .r .r-title{
  font-size: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}
.r .r-title .t-sub{
  font-size: 14px;
  font-weight: 300;
  padding-top: 12px;
  a{
    margin-right: 10px;
  }
}
.r .r-title .r-p{
  font-size: 14px;
  font-weight: 300;
  margin-top: 15px;
  span{
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
    select{
      @include input-text(28px,118px);
    }
  }
  .btn-span{
    float: right;
    a{
      @include btn();
    }
  }
}
/*公共样式*/

/*单个聊天记录*/
.r .r-title .xm{
  color: #fc2929;
}
.r .r-title .float-r-con{
  float: right;
  .btn{
    @include btn();
    font-size: 14px;
    font-weight: 300;
  }
}
.news{
  margin-top: 20px;
  .news-ul{
    li{
      margin-bottom: 25px;
      &:last-child{
        margin-bottom: 0;
      }
      .td{
        display: table-cell;
        vertical-align: top;
      }
    }
    .img{
      width: 60px;
      height: 60px;
      img{
        width: 60px;
        height: 60px;
      }
    }
    .con{
      width: 650px;
      .name{
        font-size: 14px;
      }
      .con-box{
        font-size: 12px;
        margin-top: 10px;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 6px;
        position: relative;
      }
      .arrow{
        position: absolute;
        top: -6px;
      }
      .arrow-l{
        left: -7px;
      }
      .arrow-r{
        right: -7px;
      }
    }
  }
  .boundary{
    position: relative;
    margin: 20px auto;
    text-align: center;
    width: 300px;
    font-size: 16px;
    color: #999;
    &:before{
      position: absolute;
      content: "";
      height: 1px;
      width: 100px;
      top: 12px;
      left: 0;
      background-color: #ddd;
    }
    &:after{
      position: absolute;
      content: "";
      height: 1px;
      width: 100px;
      top: 12px;
      right: 0;
      background-color: #ddd;
    }
  }
}
.news-ul{
  .li-l{
    .con{
      padding-left: 10px;
    }
  }
  .li-r{
    float: right;
    .con{
      padding-right: 10px;
    }
  }
}
/*单个聊天记录*/

/*付款信息*/
.r .r-title {
  label{
    margin-right: 8px;
  }
  .label-tag {
    font-weight: 500;
    font-size: 0;
    span {
      display: inline-block;
      padding: 6px 20px;
      border: 1px solid #ddd;
      font-size: 12px;
      background-color: #f2f2f2;
    }
  }
}

.pay-ul {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  li {
    margin-bottom: 20px;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
    .ch{
      margin-right: 8px;
    }
    .times{
      position: absolute;
      right: 0;
      top: 0;
      color: #999;
    }
  }
}
/*付款信息*/

/*聊天记录*/
.chat-list{
  li{
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    .td{
      display: table-cell;
      vertical-align: top;
    }
    .img{
      width: 60px;
      height: 60px;
      img{
        width: 60px;
        height: 60px;
      }
    }
    .con{
      width: 790px;
      padding-left: 10px;
      .con-p{
        color: #555;
        font-size: 12px;
        margin: 8px 0;
      }
      .tails{
        font-size: 12px;
        color: #999;
      }
      .reply{
        float: right;
        a{
          color: #1ca7f4;
          font-size: 12px;
        }
        span{
          margin: 0 5px;
        }
      }
    }
  }
}
/*聊天记录*/
