@charset "utf-8";
@import "variable";
/*关于我们*/
//.company-menu{
//  height: 48px;
//  margin-top: 20px;
//  @include linear-gradient(#fe5353,#fb3e3e);
//  li{
//    float: left;
//    &.active{
//      background-color: #d82f2f;
//    }
//    a{
//      color: #fff;
//      display: block;
//      line-height: 48px;
//      padding: 0 25px;
//      i{
//        margin-right: 10px;
//      }
//    }
//  }
//}
.company-menu{
  margin-top: 20px;
  background-color: #fe5353;
  li{
    position: relative;
  }
  a{
    display: block;
  }
  & > li{
    float: left;
    line-height: 48px;
    z-index: 2;
    width: 120px;
    text-align: center;
    & > a{
      color: #fff;
    }
    &:hover{
      background-color: #efeded;
      & > a{
        color: #fe5353;
      }
      .arrow{
        display: block;
      }
      .two-menu{
        display: block;
      }
    }
    .arrow{
      position: absolute;
      border-style: solid;
      border-color: #efeded transparent transparent transparent;
      border-width: 8px;
      width: 0;
      height: 0;
      top: 48px;
      left: 52px;
      display: none;
      z-index: 88;
    }
  }
}
.two-menu{
  background-color: #fb3e3e;
  width: 1190px;
  position: absolute;
  left: 0;
  top: 48px;
  display: none;
  & > li{
    float: left;
    line-height: 48px;
    width: 160px;
    & > a{
      color: #fff;
    }
    &:hover{
      .three-menu{
        display: block;
      }
    }
  }
}
.three-menu{
  background-color: #efeded;
  width: 1190px;
  position: absolute;
  left: 0;
  top: 48px;
  padding: 15px 0;
  display: none;
  & > li{
    float: left;
    width: 200px;
    &:before{
      position: absolute;
      right: 0;
      content: '';
      top: 0;
      width: 1px;
      min-height: 150px;
      background-color: #ccc;
    }
    & > a{
      line-height: 30px;
    }
  }
}
.about{
  width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
}
.about .banner{

  img{
    width: 100%;
    height: 250px;
  }
}
.about .content{
  margin-top: 20px;
}
.about .content .title{
  font-size: 24px;
  font-weight: 600;
  padding: 10px;
}
.about .content .description{
  border-top: solid 1px #989898;
  padding: 10px;
}
.about .content .description p{
  padding-top: 10px;
}
/*关于我们*/

/*案例列表*/
.caselist{
  margin-top: 20px;
  .case-con{
    padding: 20px;
    .case-con-title{
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}
.caselist .caselist-head{
  font-size: 24px;
  padding-left: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.caselist .caselist-ul{
  padding: 20px 80px;
}
.caselist-ul li{
  width: 170px;
  height: 220px;
  overflow: hidden;
  float: left;
  margin-right: 50px;
  margin-bottom: 20px;
  &:nth-of-type(4n){
    margin-right: 0;
  }
  .case-li-img{
    width: 170px;
    height: 170px;
    overflow: hidden;
  }
  .title{
    margin-top: 10px;
    overflow: hidden;
    height: 40px;
  }
}
/*案例列表*/

/*产品详情*/
.skillDetail{
  margin-top: 40px;
  .l{
    width: 660px;
    .skill-l-two{
      margin-top: 30px;
      border: 1px solid #ddd;
    }
  }
  .r{
    width: 300px;
    margin-left: 40px;
  }
}
.skill-l-one{
  .reading{
    .big-img{
      width: 240px;
      height: 240px;
      overflow: hidden;
      margin-bottom: 10px;
      img{
        width: 240px;
        height: 240px;
      }
    }
    .sub-img{
      width: 240px;
      overflow: hidden;
      height: 50px;
    }
  }
  .property{
    margin-left: 40px;
    width: 380px;
  }
}
.reading .sub-img li{
  float: left;
  width: 50px;
  margin: 0 5px;
}
.reading .sub-img li img{
  height: 50px;
  width: 50px;
}
.property .p-title{
  font-size: 20px;
  margin-bottom: 20px;
}
.property .p-explain{
  margin-bottom: 20px;
  span{
    margin-right: 15px;
    i{
      color: #fc6303;
      margin-right: 3px;
    }
  }
}
.property .p-price{
  background-color: #ebeded;
  padding: 10px;
  margin-bottom: 15px;
  span{
    color: #ff2828;
    margin-left: 25px;
    font-size: 20px;
    font-weight: 600;
  }
}
.property .number{
  padding: 0 5px;
  margin-bottom: 30px;
  .number-text{
    width:60px;
    border: 1px solid #ddd;
    height: 28px;
    padding-left: 5px;
    margin-left: 25px;
  }
}
.property .p-btn{
  display: block;
  text-align: center;
  background-color: #f9671e;
  color: #fff;
  width: 200px;
  height: 48px;
  line-height: 50px;
  font-size: 14px;
}
.skill-l-two {
  .t-head {
    border-bottom: 1px solid #ddd;
    li {
      float: left;
      padding: 10px 0;
      border-top: 3px solid #fafafa;
      width: 105px;
      text-align: center;
      color: #999;
      &:first-child {
        border-right: 1px solid #ddd;
      }
      &.active {
        border-top: 3px solid #f9671e;
        color: #333;
      }
    }
  }
  .t-detail {
    padding: 10px;
    .con {
      display: none;
      &.active {
        display: block;
      }
      .con-p {
        margin-bottom: 10px;
      }
    }
  }
}
/*产品详情*/

/*产品中心列表*/
.productCore{
  margin-top: 20px;
  .productCore-con{
    margin-top: 80px;
  }
}
.productCore .bigbanner{
  img{
    height: 280px;
    width: 100%;
  }
}
.productCore-con{
  .title{
    padding-bottom: 20px;
    font-size: 24px;
  }
  .head-menu-ul{
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    li{
      float: left;
      padding: 0 15px;
      &.active{
        color: #f9671e;
        font-weight: 600;
      }
    }
  }
  .productCore-list{
    padding: 0 10px;
    li{
      float: left;
      width: 180px;
      margin: 20px 20px 0 0;
      &:nth-of-type(5n){
        margin-right: 0;
      }
      .c-img{
        display: block;
        width: 180px;
        height: 120px;
      }
      .c-price{
        color: #ea3030;
        font-size: 18px;
        font-weight: 600;
        margin: 10px 0;
      }
      .c-title{
        height: 40px;
        overflow: hidden;
      }
    }
  }
}
/*产品中心列表*/

/*方案商企业-店铺*/
.slideBox{
  width:100%;
  height:280px;
  overflow:hidden;
  position:relative;
}
.slideBox .hd{
  height:30px;
  overflow:hidden;
  position:absolute;
  bottom:10px;
  z-index:1;
  width: 80px;
  left: 50%;
  margin-left: -40px;

}
.slideBox .hd ul{
  overflow:hidden;
  zoom:1;
  float:left;
}
.slideBox .hd ul li{
  float:left;
  margin:0 2px;
  width:15px;
  height:15px;
  border-radius: 50%;
  text-align:center;
  background-color: #a8adb1;
  cursor:pointer;
}
.slideBox .hd ul li.on{
  background-color:#fb3c3c;
}
.slideBox .bd{
  position:relative;
  height:100%;
  z-index:0;
}
.slideBox .bd li{
  zoom:1;
  vertical-align:middle;
}
.slideBox .bd img{
  width:100%;
  height:280px;
  display:block;
}
.company-con .c-title{
  padding: 15px;
  font-size: 20px;
}
.company-con{
  .com-head{
    border: 1px solid #ddd;
    @include linear-gradient(#f9f9f9,#f1f1f1);
    li{
      float: left;
      padding:15px;
      &.active{
        color: #fb3c3c;
        background-color: #fff;
      }
    }
  }
}
.com-list{
  .com-ul{
    display: none;
    &.active{
      display: block;
    }
    li{
      float: left;
      margin-right: 35px;
      margin-top: 20px;
      width: 310px;
      &:nth-of-type(3n){
        margin-right: 0;
      }
      a{
        display: block;
      }
      .td{
        display: table-cell;
        vertical-align: top;
      }
      .td-right{
        padding-left: 10px;
      }
      .com-img{
        width: 140px;
        height: 100px;
      }
      .com-money{
        color: #ea3030;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
      }
    }
  }
}
/*方案商企业-店铺*/

/*方案商企业-列表页*/
.market_top{
  background-color: #f7f7f7;
  padding: 10px;
  margin-top: 20px;
}
.market_top .title{
  font-size: 16px;
  color: #555555;
}
.market_top .title b{
  color: #009ffa;
}
.market_top .item{
  line-height: 35px;
  font-size: 14px;
}
.market_top .item .name{
  font-weight: 500;
  color: #999;
}
.market_top .item span{
  padding: 10px;
}
.selected{
  color: orangered !important;
}
.seller{
  margin-top: 20px;
  .s-title{
    font-size: 24px;
  }
  .seller-head{
    padding: 15px 0 10px;
    border-bottom: 1px solid #ddd;

    li{
      float: left;
      padding: 5px 15px;
      .fa-angle-down{
        margin-left: 8px;
      }
    }
    .li-title{
      font-size: 20px;
      margin-top: -5px;
    }
    .map-marker{
        background-color: #b3b3b3;
        color: #fff;
        padding: 5px 15px;
        border-radius: 6px;
      i{
        margin-right: 8px;
      }
    }
  }
}
.map-marker{
  position: relative;
  .address-list{
    position: absolute;
    border: 1px solid #ddd;
    background-color: #fff;
    z-index: 999;
    border-radius: 5px;
    top: 30px;
    left: 0;
    width: 360px;
    color: #333;
    padding: 10px;
    display: none;
    .one{
      b,ul{
        display: table-cell;
        vertical-align: top;
      }
      b{
        width: 80px;
      }
      ul{
        li{
          padding: 0;
          margin-right: 25px;
          margin-bottom: 10px;
          &:nth-of-type(5n){
            margin-right: 0;
          }
        }
      }
    }
    .two{
      border-top: 1px dashed #ddd;
    }
  }
  &:hover{
    .address-list{
      display: block;
    }
  }
}
.seller-con > li{
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  & > .td{
    display: table-cell;
    vertical-align: top;
  }
  & > .one{
    width: 330px;
    h2{
      font-size: 16px;
      margin-bottom: 15px;
      span{
        color: #fff;
        display: inline-block;
        text-align: center;
        background-color: #ccc;
        height: 20px;
        line-height: 20px;
        width: 20px;
        border-radius: 50%;
        &.active{
          background-color: #f9671e;
        }
      }
    }
    p{
      margin: 7px 0;
    }
    .one-add span{
      margin: 0 6px;
    }
    a{
      color: #999;
    }
  }
  & > .two{
    width: 170px;
    padding-left: 40px;
    p{
      line-height: 22px;
    }
  }
  & > .three{
    width: 460px;
  }
}
.seller-con .three li{
  float: left;
  width: 140px;
  margin-right: 20px;
  &:last-child{
    margin-right: 0;
  }
  .three-img{
    width: 140px;
    height: 100px;
  }
  .title{
    line-height: 20px;
    overflow: hidden;
    font-size: 14px;
  }
}
/*方案商企业-列表页*/

/*召集令详情*/
.needDetail{
  margin-top: 35px;
}
.need-head .need-h-logo{
  float: left;
  width: 225px;
  border-right: 1px solid #ddd;
  img{
    width: 212px;
  }
}
.need-head .need-h-explain{
  float: left;
  margin-left: 13px;
  h2{
    font-size: 16px;
    margin-bottom: 15px;
  }
  p{
    color: #747474;
    font-size: 12px;
    em{
      padding: 0 10px;
      color: #ddd;
    }
  }
}
.needDetail .need-center{
  padding: 20px;
  background-color: #f7f7f7;
  margin-top: 30px;
}
.need-center .l{
  width: 499px;
  border-right: 1px solid #ddd;
}
.need-center .l h2{
  font-size: 16px;
  margin-bottom: 10px;
}
.need-center .l .price{
  color: #f9671e;
  font-size: 20px;
}
.need-center .l .money{
  font-size: 18px;
  color: #fc6303;
  margin-bottom: 38px;
}
.need-center .l .explain{
  margin-bottom: 30px;
  margin-top: 36px;
  p{
    line-height: 20px;
    &.budget{
      color: #fc6303;
    }
  }
}
.need-center .l .star{
  span{
    background-color: #f9671e;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    i{
      color: #fff;
    }
  }
}
.need-center .l .need-btn{
  display: block;
  width: 200px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border: 1px solid #ddd;
  background-color: #fff;
  i{
    margin-right: 5px;
  }
}
.need-center .r{
  padding-left: 30px;
  .title{
    margin-top: 35px;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .times{
    font-size: 30px;
    color: #ffaf51;
    font-weight: 600;
  }
  .need-btn{
    display: block;
    width: 380px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    background-color: #ffaf51;
    border-radius: 8px;
    margin-top: 25px;
    color: #fff;
  }
}
.needDetail .need-list{
  margin-top: 30px;
}
.need-list .l{
  width: 680px;
  .need-list-border{
    border: 1px solid #ddd;
  }
}
.need-list .r{
  width: 310px;
  margin-left: 10px;
}
.need-list .t-head {
  border-bottom: 1px solid #ddd;
}
.need-list .t-head li.active {
  border-top: 3px solid #f9671e;
}
.need-list .t-head li:first-child {
  border-right: 1px solid #ddd;
}
.need-list .t-head li {
  border-top: 3px solid #fafafa;
  float: left;
  padding: 10px 0;
  text-align: center;
  width: 105px;
}
.need-list .t-detail {
  padding: 10px;
}
.need-list .t-detail .con{
  display: none;
}
.need-list .t-detail .con.active {
  display: block;
}
.need-list .t-detail .con .con-p {
  margin-bottom: 10px;
}
/*召集令详情*/

/*召集令---展示列表*/
.callshow{
  margin-top: 20px;
  .bigbanner{
    img{
      width: 100%;
    }
  }
}
.callshow-con .callshow-title{
  font-size: 20px;
  margin: 20px 0;
}
.callshow-list .call-l-head{
  padding: 15px 0 10px;
  border-bottom: 1px solid #ddd;

  li{
    float: left;
    padding: 5px 15px;
    .fa-angle-down{
      margin-left: 8px;
    }
  }
  .li-title{
    font-size: 20px;
    margin-top: -5px;
  }
  .map-marker{
    background-color: #b3b3b3;
    color: #fff;
    padding: 5px 15px;
    border-radius: 6px;
    i{
      margin-right: 8px;
    }
  }
}
.callshow-list .call-l-con{
  padding: 0 10px;
}
.call-l-con li{
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
  .td{
    display: table-cell;
  }
  .one{
    width: 330px;
    font-size: 14px;
    h2{
      font-size: 16px;
      margin-bottom: 10px;
    }
    p{
      line-height: 22px;
    }
  }
  .two{
    width: 170px;
    text-align: center;
    vertical-align: middle;
    color: #999;
  }
  .three{
    width: 210px;
    text-align: right;
    vertical-align: middle;
    a{
      width: 160px;
      height: 36px;
      text-align: center;
      line-height: 36px;
      background-color: #1ca7f4;
      color: #fff;
      display: inline-block;
      margin: auto;
    }
  }
}
.callshow-list .call-r-head{
  border-bottom: 1px solid #ddd;
  li{
    float: left;
    width: 120px;
    text-align: center;
    padding: 15px 0;
    &.active{
      border-bottom: 2px solid #f9671e;
      color: #f9671e;
    }
  }
}
.callshow-list .call-r-con{
  background-color: #fff;
}
.call-r-con .call-r-ul{
  display: none;
  &.active{
    display: block;
  }
}
.call-r-con ul li{
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  .money{
    color: #f9671e;
  }
  .times{
    font-size: 12px;
    color: #999;
  }
  .title{
    margin-top: 10px;
  }
  .tail{
    color: #999;
    position: relative;
    .times{
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
/*召集令---展示列表*/

/*个人团队-店铺*/
.store-one{
  padding: 20px;
  background-color: #e5e5e5;
  margin-top: 20px;
  .c-o-img{
    width: 100px;
    height: 100px;
  }
  .name{
    font-size: 16px;
    font-weight: 600;
    margin-left: 15PX;
  }
}
.store-two{
  margin-top: 20px;
  .float-l{
    border: 1px solid #ddd;
  }
  .store-two-menu{
    border-bottom: 1px solid #ddd;
    li{
      padding: 10px 20px;
      padding-top: 7px;
      border-top: 3px solid #fafafa;
      float: left;
      border-right: 1px solid #ddd;
      &.active{
        border-top: 3px solid #f9671e;
      }
    }
  }
  .store-two-con{
    padding: 10px;
  }
  .r{
    width: 300px;
  }
}
.store-three{
  margin-top: 40px;
  .head-menu-ul{
    line-height: 30px;
    .li-title{
      font-size: 24px;
    }
  }
}
/*个人团队-店铺*/
