@charset "utf-8";
@mixin btn($background-color: #009ffa,$width: 160px,$height: 35px,$line-height: 35px){
  display: inline-block;
  background-color: #009ffa;
  color: #fff;
  width: 160px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
@mixin input-text($heightSize,$widthSize){
  border: 1px solid #ddd;
  border-radius: 5px;
  height: $heightSize;
  width: $widthSize;
  resize: none;
}
@mixin opacity($size){
  filter:alpha(opacity=$size*100);
  -moz-opacity:$size;
  opacity:$size;
}
@mixin linear-gradient($color,$colored){
  background: -webkit-linear-gradient($color, $colored);
  background: -o-linear-gradient($color, $colored);
  background: -moz-linear-gradient($color, $colored);
  background: linear-gradient($color, $colored);
}
